.day{
	background-color: #EAEAEA;
	color: #616165;
	font-family: 'Playfair Display', serif;
}
.day a {color:#616165;}
.night a{color: white;}
.night{
	background-color: #001d27;
	color: white;
	font-family: 'Playfair Display', serif;
}
.night h1{color: white;}
.top-menu{
	background-color: #00141b;
	padding: 0.5%;
	margin: -1%;
	text-align: center;
	margin-bottom: 5%;
}
.bottom{
	position:absolute;
	right:0%;
	top:2.5%;
}

.top-menu ul li {
	display: inline;
	margin: 5%;
}
.top-menu a {
	font-family: 'Lobster', cursive;
	color: white;
	text-decoration: none;
}
.borD{
	padding: 1%;
	height: 30px;
	width: auto;
	border: 1px;
	margin-left: 1%;
	margin-bottom: 3%;
	border-color: #616165;
	border-radius: 10px;
	border-style: solid;
	font: 24px bold;
	display: inline-block;
}
.borD:hover {
	color: white;
	animation-name: aD;
	animation-duration: 2s;
	background-color: #001d27;
}
.borN:hover {
	color: white;
	animation-name: aD;
	animation-duration: 2s;
	background-color: #001d27;
}
/*.borN:hover {
	color: #616165;
	animation-name: aN;
	animation-duration: 2s;
	background-color: #EAEAEA;
}*/

.borN{
	padding: 1%;
	height: 30px;
	width: 250px;
	border: 1px;
	margin-left: 1%;
	margin-bottom: 3%;
	border-color: #616165;
	border-radius: 10px;
	border-style: solid;
	font: 24px bold;
	display: inline-block;
}
/*.borN{
	padding: 1%;
	height: 30px;
	width: 250px;
	border: 1px;
	margin-left: 1%;
	margin-bottom: 3%;
	border-color: white;
	border-radius: 10px;
	border-style: solid;
	font: 24px bold;
	display: inline-block;
}*/
@keyframes aD {
    from {background-color: #EAEAEA;}
    to {background-color: #00141b;}
}
@keyframes aN {
    from {background-color: #00141b;}
    to {background-color: #EAEAEA;}
}
.section{text-align: center; width:65%;margin:auto;}
.centered-and-cropped { object-fit: cover }
/*#dev {
	font-family: "Times New Roman", sans-serif;
     visibility: hidden;
     color: black;
     position: absolute;
     top: 10%;
     left: 25%;
     z-index: 1000;
     width:50%;
     margin: auto;
     background-color: #fff;
     border-radius: 10px;
     padding:5px;
     text-align:center;
     box-shadow: 0px 0px 100px 0px rgba(0,0,0,1);
}*/

#sugg {
	 font-family: "Times New Roman", sans-serif;
     visibility: hidden;
     background-color: white;
     border-radius: 10px;
     position: absolute;
     top: 25%;
     left: 25%;
     z-index: 1000;
     width:50%;
     margin: auto;
     padding:5px;
     box-shadow: 0px 0px 100px 0px rgba(0,0,0,1);
}
#sugg input{
	height: 2%; 
	width: 25%;
	background-color: #616165;
	font-size: 18px;
	text-align: center;
	color: white;
	margin-left: 37%;
	border-radius: 10px;

}
#sugg textarea {
	font-family: "Times New Roman", sans-serif; 
	border-radius: 5px; 
	font-size: 18px;
	width: 98%;
}
#dev {
	 font-family: "Times New Roman", sans-serif;
     visibility: hidden;
     background-color: white;
     border-radius: 10px;
     position: absolute;
     top: 25%;
     left: 25%;
     z-index: 1000;
     width:50%;
     margin: auto;
     padding:5px;
     box-shadow: 0px 0px 100px 0px rgba(0,0,0,1);
}

h1{
	color: #616165;
	font-style: italic;
}
#startButton{padding: 1%;
	height: 50px;
	width: 250px;
	background-color:rgb(54, 166, 68);
	border-radius: 10px;
	font: 24px bold;
}
#nextButton{
	padding: 0.5%;
	/*width: 150px;*/
	color: white;
	background-color:#6385B3;
	/*background-color:#F06872;*/
	border-radius: 10px;
	font: 18px bold;
	/*position: absolute;*/
	/*margin-left: -400px;*/
}
#check{padding:0.5%;
	/*width: 150px;*/
	color: white;
	/*background-color:#6385B3;*/
	background-color:#F06872;
	border-radius: 10px;
	font: 18px bold;
	/*position: absolute;*/
	/*margin-left: -300px;*/
}
#numCountQuizz {
	width: 24.5%;
	position: absolute; 
	margin-top:-5%;
	margin-left: 38.5%; 
	height: 25px; 
	font-size: 18px;
	opacity: 0.6;
	font-family: 'Playfair Display', serif;
}

#title3{padding:2%;border-radius:5px;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color: white;}
